[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/DUO-1080/nv-config.git
[submodule "tmux/plugins/tmux-everforest"]
	path = tmux/plugins/tmux-everforest
	url = https://github.com/TanglingTreats/tmux-everforest.git
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:DUO-1080/wezterm.git
